<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Post a Tweet</title>
</head>

<body>
	<p>Tweet</p>
	<form method="post">
		<label>
			<div>title</div>
			<input type="text" name="title" value="{{title}}">
		</label>
		
		<label>
			<div>art</div>
			<input type="text" name="art" value="{{art}}">
		</label>
		
		<div class="error">{{ error }}</div>
		
		<input type="submit" value="Post a Tweet">
	</form>
	
	<hr>
	
	{% for art in arts %}
		<div class="art">
			<div class="art-title">{{art.title}}</div>
			<pre class="art-body">{{art.art}}</pre>
		</div>
	{% endfor %}
			
	
</body>
</html>
